.hero {
    background: url('../../../assets/images/background.avif') no-repeat center center;
    background-size: cover;
    color: white;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h1, .hero p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}