<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="content">
    <div class="hotel" *ngFor="let hotel of hotels">
      <img [src]="hotel.fileimages" alt="{{ hotel.name }}">
      <div >
        <h5 >{{ hotel.name }}</h5>
        <p >{{ hotel.description }}</p>
        <label class="btn btn-primary btn-lg" (click)="goToRoomComponent(hotel.id)">View rooms</label>
        <a class="btn btn-primary btn-lg" [routerLink]="['/rating/show-reviews', hotel.id]">View rating</a>
        <!-- <label class="btn btn-primary" (click)="goToRatingComponent(hotel.id)">View rating</label> -->
      </div>
    </div>
  </div>
     
        
   
</body>
</html>



