<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
  <div class="container">
    <h2>Hotel List</h2>
    <div class="hotel" *ngFor="let hotel of hotels">
      <div class="hotelDescription" >
        <h5 >{{hotel.name}}</h5>
        <label>{{hotel.address}}, {{hotel.city}}, {{hotel.country}}</label>
        <div style="display: flex; flex-direction: row; gap: 10px;">
          <button class="btn btn-primary" (click)="goToRoomComponent(hotel.id, hotel.name)">View rooms</button>
          <button class="btn btn-primary" [routerLink]="['/rating/show-reviews', hotel.id]">View rating</button>
        </div>
      </div>
      <img [src]="hotel.fileImages[0]" alt="" style="width: 250px; height: 200px; margin-left: auto;"/>
    </div>
  </div>
     
</body>
</html>



