<div class="container">

    <div class="hotelDiv">
        <h3>Create Hotel</h3>
        <div class="form-group">
            <label class="form-label">Hotel Id</label>
            <input type="text" [(ngModel)]="hotelId">
        </div>
    
        <div class="form-group">
            <label class="form-label">Hotel Name</label>
            <input type="text" [(ngModel)]="Name">
        </div>

        <div class="form-group">
            <label class="form-label">Hotel Address</label>
            <input type="text" [(ngModel)]="Address">
        </div>

        <div class="form-group">
            <label class="form-label">City</label>
            <input type="text" [(ngModel)]="City">
        </div>

        <div class="form-group">
            <label class="form-label">Country</label>
            <input type="text" [(ngModel)]="Country">
        </div>

        <div class="form-group">
            <label class="form-label">Hotel Images</label>
            <input type="file"  [(ngModel)]="hotelFileImage">
        </div>

    
        <button type="submit" (click)="AddHotel()" class="btn btn-primary mt-3">Create</button>
    </div>

    <div class="roomDiv">
        <h3>Create Room in Hotel</h3>
        <div class="form-group">
            <label class="form-label">Room Id</label>
            <input type="text" [(ngModel)]="roomId">
        </div>
    
        <div class="form-group">
            <label class="form-label">Hotel Id</label>
            <input type="text" [(ngModel)]="hotelId">
        </div>

        <div class="form-group">
            <label class="form-label">Room Number</label>
            <input type="text"  [(ngModel)]="roomNumber">
        </div>

        <div class="form-group">
            <label class="form-label">Price</label>
            <input type="text" [(ngModel)]="roomPrice">
        </div>

        <div class="form-group" style="display: flex; flex-direction: column; gap: 5px;">
            <label class="form-label">Room Images</label>
            <div style="display: flex; flex-direction: row; align-items: center;">
                <input type="file"  [(ngModel)]="roomFileImage">
                <button class="btn btn-primary mt-3" (click)="addImageToRoomsImages()">Add Image</button>
            </div>
            
        </div>

        <div class="form-group">
            <label class="form-label">Room Description</label>
            <input type="text"  [(ngModel)]="roomDescription">
        </div>
        
        <div style="display: flex; flex-direction: row; gap: 10px;">
            <button type="submit" (click)="addRoomToList()" class="btn btn-primary mt-3">Add to hotel</button>
            <button type="submit" (click)="clearAllRooms()" class="btn btn-primary mt-3">Clear rooms</button>
        </div>
    </div>
</div>

