body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 20px;
}

.rating-container {
    background-color: #F8F9FA;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin: 20px;
    max-width: 400px;
}


.rating-container h2 {
    margin-bottom: 20px;
    color: #333;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    resize: none;
    font-family: Arial, sans-serif;
}

button {
    background-color: #0d6efd;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #094bad;
}

.star-rating {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.star {
    font-size: 30px;
    color: #ddd;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.star:hover,
.star.hover {
    color: #f5c518;
}

.star.selected {
    color: #f5c518;
}