<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="content">
      <div class="room" *ngFor="let room of rooms">
          <img [src]="room.fileimages">
          <div class="card-body">
            <p>{{ room.description }}</p>
            <p>{{ room.price }} per night</p>
            <p>{{ room.status }}</p>
            <button class="btn btn-primary" (click)="goToReservationsComponent(room.id)">Reserve</button>
          </div>
      </div>
    </div>
    
        
   
</body>
</html>

