<nav class="navbar navbar-light bg-light" *ngIf="appState$ | async as appState">
    <div class="container-fluid">
      <div class="d-flex">
        <span class="navbar-brand mb-0 h1">{{ getNavBarTitle(appState) }}</span>
  
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['']">Home</a>
          </li>
          <li class="nav-item" *ngIf="canShowReservations(appState)">
            <a class="nav-link" [routerLink]="['/reservations', 'list-reservations']">My Reservations</a>
          </li>      
          <div class="dropdown" *ngIf="canShowAdminPanel(appState)">
            <a class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
              Administrator Panel
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" [routerLink]="['/admin/checkin']">Check in guest</a></li>
              <li><a class="dropdown-item" [routerLink]="['/admin/checkout']">Check out guest</a></li>
              <li><a class="dropdown-item" [routerLink]="['/admin/admin-managingrooms']">Hotels managing</a></li>
            </ul>
          </div>          
          <li class="nav-item" *ngIf="canShowRatingPanel(appState)">
            <a class="nav-link" [routerLink]="['/rating']">My recent stays</a>
          </li>
        </ul>
      </div>
  
      <ul class="nav">
        <li class="nav-item" *ngIf="userLoggedOut(appState)">
          <a class="nav-link" [routerLink]="['/identity']">Login/Register</a>
        </li>
        <li class="nav-item" *ngIf="userLoggedIn(appState)">
          <a class="nav-link" [routerLink]="['/identity', 'profile']">User profile</a>
        </li>
        <li class="nav-item" *ngIf="userLoggedIn(appState)">
          <a class="nav-link" [routerLink]="['/identity', 'logout']">Logout</a>
        </li>
      </ul>
    </div>
  </nav>